body {
    color: aliceblue;
    background: url("img/bc.gif") no-repeat fixed center;
    background-size: cover;
    background-position: center;
    height: 100vh;    
}

p {
    text-align: right;
    padding-right: 5%;
    font-size: 30px;
    font-weight: 900;
}

.frontend-container {
    position: absolute;
    top: 35%;
    left: 0;
    transform: translateY(-50%);
    padding-left: 20px;
    display: flex;
    align-items: center;
}

.frontend-container img {
    width: 50px;
    height: 50px;
    margin-right: 10px; 
}

.frontend-container h1 {
    font-size: 130px;
    margin: 0;
}

.developer {
    position: absolute;
    top: 30%;
    left: 20px;
    font-size: 170px;
}

#seta img {
    width: 50px;
    height: 50px;
}

#seta {
    position: fixed;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
  }